.KeywordText {
    .kw-input {
        color: gray;
        width: 80%;
        height: 150px;
        margin-bottom: 20px;
    }
    .copy-to-kb {
        float: right;
        margin-right: 250px;
        margin-bottom: 20px;        
    }
    button {
        width: 350px;
        height: 50px;
        margin-bottom: 20px;
    }
    .kw-count {
        float: left;
        margin-left: 20px;
        font-size: 32px;
        margin-bottom: 20px;
    }

    Title,
    textarea,
    label,
    input,
    .kws
     {
        margin-bottom: 20px;
    }

    Title {
        height: 20px;
    }

    .kws {
        width: 90%;
        word-wrap: break-word;
    }
}